{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="ms-1 me-1" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-arrow-left"></i> prev</a>
  {% else %}
    <span><i class="fa fa-arrow-left"></i> prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="ms-1 me-1">{{ page }}</span>
    {% elsif page == 1 %}
      <a class="ms-1 me-1" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a class="ms-1 me-1" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="ms-1 me-1" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">next <i class="fad fa-arrow-right"></i></a>
  {% else %}
    <span>next &raquo;</span>
  {% endif %}
</div>
{% endif %}
