---
layout: site
post_class: post-template
---

<div class="row">

    <div class="col-md-1 p-0 mt-4 mt-md-0">
        {% include share.html %}
    </div>

    {% assign author = site.authors[page.author] %}

    <div class="col-md-10 flex-first flex-md-unordered">
        <div class="mainheading">

            {% if page.author %}
            <div class="d-flex align-items-center mb-3 post-top-meta">
                <div class="text-start mb-md-0 me-1 flex-shrink-0">
                    {% if author.avatar %}
                    <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}"
                         alt="{{ author.display_name }}">
                    {% endif %}
                </div>
                <div class="column text-start mb-0" style="line-height: 1.15">
                    {% if author.web %}
                    <span class="author-name author-name-large"><a target="_blank" href="{{ author.web }}">{{ author.display_name }}</a></span>
                    {% else %}
                    <span class="author-name author-name-large">{{ author.display_name }}</span>
                    {% endif %}
                    <span class="author-description">{{ author.description }}</span>
                </div>
            </div>
            {% endif %}

            {% if page.tags %}
            <ul class="tags text-end" style="margin-top:-24px;margin-bottom:4px;">
                {% assign sortedTags = page.tags | sort %}
                {% for tag in sortedTags %}<li><a data-pagefind-filter="tags" href="{{site.baseurl}}/tags#{{ tag | replace: ' ','-' }}">#{{ tag }}</a></li>{% endfor %}
            </ul>
            {% endif %}

            <h1 class="post-title" data-pagefind-meta="title">{{ page.title | markdownify }}</h1>
        </div>

        {% if page.image %}
        <div class="featured-image-container mb-4">
            <div class="wishlist-promo">
                <div class="wishlist-promo-glass">
                    <iframe src="https://store.steampowered.com/widget/3107870/?l=english" frameborder="0"></iframe>
                </div>

                <img class="wishlist-promo-overlay fade-in-long wishlist-promo-overlay-left d-none d-md-block" src="/assets/img/posts/overlay-left.png" alt="">
                <img class="wishlist-promo-overlay fade-in-long wishlist-promo-overlay-right d-none d-sm-block" src="/assets/img/posts/overlay-right.png" alt="">
                <img class="wishlist-promo-overlay fade-in-long wishlist-promo-overlay-right d-xs-block d-sm-none" src="/assets/img/posts/overlay-right-mobile.png" alt="">
            </div>
            <img width="2048" height="400" class="featured-image" fetchpriority="high" src="{% if page.image contains ' ://' %} {{ page.image | replace_first: 'assets/img/social/', 'assets/img/cover/'  }}{% else %}{{site.baseurl }}/{{ page.image | replace_first: 'assets/img/social/', 'assets/img/cover/'  }}{% endif %}" alt="{{ page.title }}">
            {% comment %}
            {% if page.thumbtext %}
            <div class="featured-image-text">{{ page.thumbtext }}</div>
            {% endif %}
            {% endcomment %}
        </div>
        {% endif %}

        <div class="article-content" {% if page.searchable != false %}data-pagefind-body{% endif %}>
            {{content}}
        </div>
        
        <div class="row my-md-4">
            {% assign category = page.categories | first %}
            {% if page.series and page.categories.size > 0 and site.categories[category].size > 1 %}
            <div class="col-md-8" >
                <div class="card mx-1" style="max-width: 512px">
                    <div class="card-body">
                        {% if page.tags and page.tags.size > 1 %}
                        <!-- todo: fix spacing when there are no tags-->
                        <div class="text-end" style="margin-bottom: -40px;">
                            <ul class="tags">
                                {% assign sortedTags = page.tags | sort %}
                                {% for tag in sortedTags %}<li><a href="{{site.baseurl}}/tags#{{ tag | replace: ' ','-' }}">#{{ tag }}</a></li>{% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        <div class="h3 card-title mb-0">{{ category }}</div>
                        <!-- <span class="card-text h6">post series</span> -->
                    </div>
                    <div class="card-footer pt-0 postlist">
                        <ol start="0">
                            {% assign series = site.categories[category] | reverse %}
                            {% for post in series %}
                            <li><a href="{{ post.url }}">{{ post.title | markdownify | remove: "<p>" | remove: "</p>"}}</a></li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-md-8"></div>
            {% endif %}
            <div class="col-md-4 mb-4 order-first order-md-last">
                <div class="article-footer text-end">

                    {% if page.contributors and page.contributors.size > 0 %}
                    <p class="post-etc my-0">
                        <em>by</em>
                    </p>
                    <p class="mb-3 avatar-32" style="margin-right: 1px">
                        {% for contributor in page.contributors %}
                        <a href="https://github.com/{{ contributor }}" title="{{ contributor }}" class="nounderline">
                            {% avatar user=contributor %}
                        </a>
                        {% endfor %}
                    </p>
                    {% endif %}

                    <p class="mb-0">
                        <time datetime="{{ page.date | date:' %Y-%m-%d' }}">
                            <em>{{ page.date | date: "%B %-d, %Y" | downcase}}</em>
                        </time>
                    </p>

                    {% if page.license %}
                    <p class="post-etc mb-0">
                        {% if page.license == "cc-by" %}
                        <a class="nounderline" href="https://creativecommons.org/licenses/by/4.0/"> {% include svg/cc.svg %} {% include svg/cc-by.svg %}</a>
                        {% endif %}
                        {% if page.license == "cc-by-sa" %}
                        <a class="nounderline" href="https://creativecommons.org/licenses/by-sa/4.0/"> {% include svg/cc.svg %} {% include svg/cc-by.svg %} {% include svg/cc-sa.svg %}</a>
                        {% endif %}
                        {% if page.license == "cc-by-nc-sa" %}
                        <a class="nounderline" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"> {% include svg/cc.svg %} {% include svg/cc-by.svg %} {% include svg/cc-nc.svg %} {% include
                            svg/cc-sa.svg %}</a>
                        {% endif %}
                        {% if page.license == "cc-zero" %}
                        <a class="nounderline" href="https://creativecommons.org/publicdomain/zero/1.0/"> {% include svg/cc.svg %} {% include svg/cc-zero.svg %}</a>
                        {% endif %}
                        <em>tryfinally.dev</em>
                    </p>
                    {% endif %}

                    {% if page.image %}
                    <p class="mb-0">
                        <a href="https://unsplash.com/photos/{{ page.image | split: '/' | last | split: '.' | first }}"><em>cover image credit</em></a>
                    </p>
                    {% endif %}

                </div>
            </div>
        </div>

        <div class="featured-image-container mb-5 mt-5">
            <div class="wishlist-promo" style="left: -24px">
                <div class="wishlist-promo-glass">
                    <iframe src="https://store.steampowered.com/widget/3107870/?l=english" frameborder="0"></iframe>
                </div>

                <img class="wishlist-promo-overlay wishlist-promo-overlay-left d-none d-md-block" src="/assets/img/posts/overlay-left.png" alt="">
                <img class="wishlist-promo-overlay wishlist-promo-overlay-right d-none d-sm-block" src="/assets/img/posts/overlay-right.png" alt="">
                <img class="wishlist-promo-overlay wishlist-promo-overlay-right d-xs-block d-sm-none" src="/assets/img/posts/overlay-right-mobile.png" alt="">
            </div>
            <img width="2048" height="400" class="featured-image" fetchpriority="high" src="assets/img/cover/XucH5JNRFig.webp" alt="Highland Keep Promo">
            {% comment %}
            {% if page.thumbtext %}
            <div class="featured-image-text">{{ page.thumbtext }}</div>
            {% endif %}
            {% endcomment %}
        </div>
    </div>
</div>

<!--<div class="bottompagination">-->
<!--    <div class="row d-flex justify-content-between font-weight-bold">-->
<!--        {% if page.previous.url %}-->
<!--        <a class="prev d-block col-md-5" href="{{ site.baseurl }}/{{page.previous.url}}">-->
<!--            {% include svg/chevron-left.svg %}{{page.previous.title}}-->
<!--        </a>-->
<!--        {% else %}-->
<!--        <a class="prev d-block col-md-5"></a>-->
<!--        {% endif %}-->
<!--        {% if page.next.url %}-->
<!--        <a class="next d-block col-md-5 text-lg-end" href="{{ site.baseurl }}/{{page.next.url}}">-->
<!--            {{page.next.title}}{% include svg/chevron-right.svg %}-->
<!--        </a>-->
<!--        {% endif %}-->
<!--        <div class="clearfix"></div>-->
<!--    </div>-->
<!--</div>-->

{% if page.commentable != false %}
<div class="row">
    <div class="col-lg-2 col-md-1"></div>
    <div class="col-lg-8 col-md-10">
        <div id="comments" class="giscus"></div>
    </div>
</div>
{% endif %}