/*! purgecss start ignore */

.giscus {
  width: 100%;
  @media (min-width: 768px) {
    min-height: 400px;
  }
}

.giscus-frame {
  border: none;
  color-scheme: light;
  width: 100%;
}

/*! purgecss end ignore */
